

@media screen and (max-width: 1220px){
     header{padding: 0 30px;}
    footer{padding: 0; 
        margin: 0;}
     .contenedor-all{
        main{
            .grid-galeria{
                .column{
                    .prod{width: 100% ;
                        padding-left: 15px;
                        object-fit: cover;  

                    }
                }
            }
        }
     }
}

@media screen and (max-width: 1000px){
    .column-prod {display: grid; grid-template-columns: repeat(2, 1fr);}
    .all-header { font-size: 5px;}
    .contenedor-all{
        main{            
            .grid-galeria{
                .column{display: grid;
                    grid-template-columns: repeat(2, 1fr );
                    width: 100%;}
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{padding: 0 0 0 0px; position: relative; display: block; 
        .header-menu{
            display: block;
        }
        div{
            nav{
                ul{
                    flex-direction: column; justify-content: center; display: block;
                }
            }
        }
    }
    .main-global{padding: 330px 0 0 0; }
    .column-prod {display: grid; grid-template-columns: repeat(1, 1fr);}
    .contenedor-all{
        main{padding: 230px 0 0 0 ;           
            .portada{
                div{
                    .d-block-w-100{
                        height: 400px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .grid-galeria{
                .column{display: grid;
                    grid-template-columns: repeat(1, 1fr );
                    width: 600px;
                    object-fit: cover;
                    }
            }
        }
    }
}
